<div id="albums" ng-init="init()">
    <div class="page-header">
        <h1>Albums</h1>
        <div>
            <span> [ view as: </span>
            <a href="" ng-click="setAlbumsView('grid')"><span class="glyphicon glyphicon-th"></span></a>
            <a href="" ng-click="setAlbumsView('list')"><span class="glyphicon glyphicon-th-list"></span></a>
            <span> | sort by: </span>
            <a href="" ng-click="sortField='title'">title</a>
            <a href="" ng-click="sortField='artist'">artist</a>
            <a href="" ng-click="sortField='releaseYear'">year</a>
            <a href="" ng-click="sortField='genre'">genre</a>
            <a href="" ng-click="sortDescending=!sortDescending">
                <span class="glyphicon" ng-class="{'glyphicon-chevron-up' : !sortDescending, 'glyphicon-chevron-down' : sortDescending}"></span>
            </a>
            <span> | </span>
            <a href="" ng-click="addAlbum()"><span class="glyphicon glyphicon-plus"></span>add an album</a>
            <span> ] </span>
        </div>
    </div>

    <div class="row">
        <div ng-include src="'templates/status.html'"></div>
    </div>

    <div class="row multi-columns-row">
        <div ng-include src="albumsView"></div>
    </div>
</div>
