<div id="albums" ng-init="init()">
    <div class="page-header">
        <h1>Albums</h1>
        <div>
            <span> [ view as: </span>
            <a ng-click="setAlbumsView('grid')"><i class="icon-th"></i></a>
            <a ng-click="setAlbumsView('list')"><i class="icon-th-list"></i></a>
            <span> | sort by: </span>
            <a href="" ng-click="sortField='title'">title</a>
            <a href="" ng-click="sortField='artist'">artist</a>
            <a href="" ng-click="sortField='releaseYear'">year</a>
            <a href="" ng-click="sortField='genre'">genre</a>
            <a href="" ng-click="sortDescending=!sortDescending">
                <i ng-class="{'icon-chevron-up': !sortDescending, 'icon-chevron-down': sortDescending}"></i>
            </a>
            <span> | click on any field to edit </span>
            <span> ] </span>
        </div>
    </div>

    <div class="row-fluid">
        <div ng-include src="'assets/templates/status.html'"></div>
    </div>

    <div class="row-fluid">
        <div ng-include src="albumsView"></div>
    </div>
</div>
