<table class="table table-striped">
    <thead>
    <tr>
        <th>Album Name</th>
        <th>Artist</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="album in albums | orderBy:sortField:sortDescending">
        <td>{{album.name}}</td>
        <td>{{album.artist}}</td>
        <td>{{album.releaseYear}}</td>
        <td>{{album.genre}}</td>
        <td>
            <!--<a href="/edit/{{album.id}}">edit</a>-->
            <a ng-click="delete(album)"><i class="icon-remove"></i></a>
        </td>
    </tr>
    </tbody>
</table>
