#body {
    padding-top: 10px;
}

.navbar-inner {
    background-color: #008a00;
    background-image: -moz-linear-gradient(top, #008a00, #006b00);
    background-image: -ms-linear-gradient(top, #008a00, #006b00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008a00), to(#006b00));
    background-image: -webkit-linear-gradient(top, #008a00, #006b00);
    background-image: -o-linear-gradient(top, #008a00, #006b00);
    background-image: linear-gradient(top, #008a00, #006b00);
}

.navbar .brand {
    color: #ffffff;
}

/* fix Bootstrap thumbnail padding when using row-fluid */
.row-fluid ul.thumbnails li.span12 + li { margin-left : 0px; }
.row-fluid ul.thumbnails li.span6:nth-child(2n + 3) { margin-left : 0px; }
.row-fluid ul.thumbnails li.span4:nth-child(3n + 4) { margin-left : 0px; }
.row-fluid ul.thumbnails li.span3:nth-child(4n + 5) { margin-left : 0px; }